@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
  header {
    padding-top: 50px;
  }
  .navbar-right {
    margin-top: 24px;
  }
  .navbar,
  .navbar-right,
  .gammer_content,
  .online_games_container,
  .install_container {
    flex-direction: column;
  }
  .banner {
    flex-direction: column-reverse;
    margin-top: 78px;
  }
  .banner h1 {
    font-size: 4.5rem;
  }
  .banner h3 {
    font-size: 2.8rem;
  }
  .banner_content {
    margin-top: 131px;
  }
  .btn {
    padding: 1.1rem 2.5rem;
    margin-right: 0rem;
    border-radius: 4.8rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .gammer_details {
    text-align: center;
  }
  h2 {
    font-size: 2.8rem;
  }
  .gammer_sec {
    padding: 2.6rem 0;
  }
  p.text_para {
    color: #534c64;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 26px;
  }
  .gammer_details h6 {
    font-size: 2.2rem;
    line-height: 26px;
  }
  p.small {
    font-size: 17px;
    margin-top: 14px;
  }
  .online_items {
    max-width: 100%;
  }
  .tomgf {
    position: absolute;
    left: -9px;
    bottom: -20px;
    width: 39%;
  }
  .install_img {
    padding-left: 28px;
  }
  .category_con {
    padding: 0;
    margin-top: 0px;
  }
}
@media screen and (min-width: 576px) and (max-width: 960px) {
  .container {
    width: 90%;
  }

  .category_con {
    padding: 0;
    margin-top: 0px;
  }
  .logo {
    font-size: 3.5rem;
  }
  .banner {
    column-gap: 80px;
  }
  .banner h1 {
    font-size: 5.5rem;
  }
  .banner h3 {
    font-size: 2.8rem;
  }
  .banner_content {
    margin-top: 131px;
  }

  .btn {
    padding: 1.2rem 3.5rem;
    margin-right: 0;
    border-radius: 4.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .gammer_content,
  .install_container {
    flex-direction: column;
  }
  .gammer_details {
    text-align: left;
  }
  .gammer_details p {
    margin-left: 0;
  }
  .online_games_container {
    flex-wrap: wrap;
  }
  .online_items {
    max-width: 47%;
  }
  .tomgf {
    position: absolute;
    left: -8px;
    bottom: -51px;
    width: 35%;
  }
  .install_img {
    padding-left: 72px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1280px) {
  .container {
    width: 95%;
  }
  .banner {
    column-gap: 40px;
    padding-top: 100px;
  }
  .banner h3 {
    font-size: 4rem;
  }
  .banner h1 {
    font-size: 6.5rem;
  }
  .btn {
    margin-bottom: 10px;
  }
  .install_content,
  .install_img {
    text-align: center;
    flex-basis: 40%;
  }
  .install_content {
    margin-top: 105px;
  }
  .install_container {
    align-items: flex-start;
  }
  .tomgf {
    left: -21%;
    bottom: -63px;
    width: 50%;
  }
}
