/* work sans fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common css */

html {
  font-family: "Work Sans", sans-serif;
  font-size: 10px;
}
body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
}

.container {
  padding: 10px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
h2 {
  font-size: 4.8rem;
  font-weight: 700;
}
p.text_para {
  color: #534c64;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
}
.btn {
  display: inline-flex;
  padding: 2.1rem 4rem;
  margin-right: 2rem;
  border-radius: 4.8rem;
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  outline: 0;
}
.btn_primary {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}
.btn_green {
  background: #4ec5f7;
}
.color_heading {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* header */
header {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  color: #0b0223;
  font-size: 4.5rem;
  font-weight: 700;
}
.color_text {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-item {
  color: #3c354f;
  font-size: 1.8rem;
  font-weight: 500;
}

.nav-icon {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 1.8rem 2.4rem;
}

.nav-icon a {
  color: #3c354f !important;
}
.fa-youtube {
  color: #f61c0d;
}
/* banner */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h3 {
  color: #0b0223;
  font-size: 4.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner h1 {
  font-size: 9.5rem;
  font-weight: 800;
  text-transform: uppercase;

  margin-bottom: 2.4rem;
}
.banner ul li {
  color: #534c64;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.7rem;
}
/* gammer section */

.gammer_sec {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding: 9.6rem 0;
}
.gammer_content {
  display: flex;
  justify-content: space-between;
}
.gammer_img {
  flex-grow: 1;
}

.gammer_details {
  text-align: right;
}
.gammer_details p {
  max-width: 520px;
  margin-left: auto;
  margin-top: 24px;
  margin-bottom: 32px;
}
p.small {
  color: #534c64;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px;
  margin: 0;
  margin-left: auto;
  margin-top: 24px;
}
.gammer_details h6 {
  color: #534c64;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 45px;
}
/* Online section */

.online_sec {
  padding: 120px 0;
}
.online_game_top {
  text-align: center;
}
.online_games_container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 48px;
}
.online_img {
  position: relative;
  margin-bottom: 2.4rem;
}
.online_items {
  max-width: 342px;
  width: 98%;
  border: 4px solid transparent;
}
.online_hover_details {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 1.6rem;
  border: 4px solid #f948b2;
  flex-direction: column;
  transition: all 0.4s;
}
.online_hover_details p {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #ff42a5;
}
.online_img img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 16px;
}
.online_hover_details i {
  color: #fff;
  font-size: 48px;
}
.online_items:hover .online_hover_details {
  opacity: 1;
  cursor: pointer;
}
/* install section */
.install_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.install_content,
.install_img {
  text-align: center;
  flex-basis: 50%;
}
.install_content h2,
.install_content p {
  max-width: 353px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.install_img {
  position: relative;
}
.tomgf {
  position: absolute;
  left: -15%;
  bottom: -16%;
}

/*  */

.category_con {
  display: flex;
  padding: 120px 0;
  margin-top: 100px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 34px;
}
.category_items {
  /* width: 243px; */
  border-radius: 5rem;
  border: 1px solid #f948b2;
  display: flex;
  gap: 1.6rem;
  align-items: center;
  padding: 1rem;
}
.category_items p {
  color: #0b0223;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
}

